<div class="footer" dir="rtl">
    <div class="footer-a">
        <div >
            <i class="bi bi-facebook icon-size"></i>
            <i class="bi bi-instagram icon-size"></i> 
            <i class="bi bi-twitter icon-size"></i>
        </div>
        <div>
            <span> اتصل بنا  </span>
            <span> 013 347 3777</span>
        </div>
        <div class="d-flex flex-column">
            <a href="#"> الشروط والاحكام </a>
            <a href="#"> موقع الفرع </a>
        </div>
    </div>

    <div class="footer-b flex-center">
       <p> جميع الحقوق محفوظه -  هودج 2023 </p>

    </div>

</div>

@code {

}
