@inherits LayoutComponentBase

<PageTitle>SAMANE</PageTitle>

<SAMANE_Web.Shared.Navbar.Index> </SAMANE_Web.Shared.Navbar.Index>




<main style="padding-top:10px;" >


            @Body
</main>









      
