<div class="car-card">

    <p> تويوتا ياريس </p>

    <div>
        <img src="~/Logo.svg" />
    </div>
    <p> 100 ريال / اليوم </p>
    <p> تشمل ضريبه القيمة المضافة </p>

    <div class="car-card-btn">

      <ButtonUI text="احجز الان">  </ButtonUI>
      <ButtonUI text="اضافة للمفضلة"> </ButtonUI>

    </div>

</div>

@code {

}
