<div class="car-card">

    <p> @($"{carModel} {carType}" ) </p>

    <div>
        <img src="/img/cars/car.svg" style="width:100%; height:auto;"  />
    </div>
    <p> @dayPrice ريال / اليوم </p>
    <p style="font-size:.6rem;"> تشمل ضريبه القيمة المضافة </p>

    <div class="car-card-btn">

      <a class="btn-ui" > احجز   </a>
        <a class="btn-ui"> <span> <i class="bi bi-heart"></i> </span>   المفضلة </a>

    </div>

</div>

@code {

    [Parameter]
    public double dayPrice { get; set; }

    [Parameter]
    public string carModel { get; set; }

    [Parameter]
    public string carType { get; set; }
}
