
@inject AppDbContext context

<div class="container mt-2" dir="rtl" style="max-width:1000px;">
<CarsListHeader></CarsListHeader>
<div class="card-list">
        @foreach (var car in cars)
        {
            
        <CardItem carModel="@car.CarType.cartype_value" dayPrice="@car.day_price" carType="@car.CarModel.carmod_value"> </CardItem>
        }
        
    </div>
</div>
@code {
    [Parameter]
    public List<Carr> cars  { get; set; }

}
