<div class="flex-center" style="justify-content:space-between">
    <div style="">
        <a href="#"> الاعلى تقييما </a>
    </div>
    <div style="">

    <a href="#"> المزيد </a>
    </div>
</div>

@code {

}
