<ul class="navbar_list">
    <li> <NavLink href="#"> الرئيسية </NavLink> </li>
    <li> <NavLink href="/cars"> السيارات </NavLink> </li>
    <li> <NavLink href="/promo"> إدارة الحجز </NavLink> </li>
    <li> <NavLink href="/calcutaor"> الحاسبة </NavLink> </li>
    <li> <NavLink href="/contact"> اتصل بنا </NavLink> </li>

</ul>