<div class="container pt-3" dir="rtl" style="max-width:1000px;">

    <div class= "car-header">

        <div class="" >
            <i class="bi bi-car-front-fill" ></i>
            <p> صغيرة </p>
        </div>
        <div class=" " >
            <i class="bi bi-car-front-fill"></i>
            <p> صغيرة </p>
        </div>
        <div class="" >
            <i class="bi bi-car-front-fill"></i>
            <p> صغيرة </p>
        </div>
        <div class="">
            <i class="bi bi-car-front-fill"></i>
            <p> صغيرة </p>
        </div>
    </div>

</div>

@code {

}
