
<div class="container" dir="rtl" style="margin-bottom: 20px;">

    <div class="hero">

        <div class="hero-text">
            <h1>إبدأ مغامرتك الان معنا</h1>
            <h3>إحجز الآن وإصنع الذكريات</h3>
           <a class="btn-ui"> احجز الان </a>
        </div>
        <div class="hero-image">
            <img src="/img/hero.svg" height="300" />
        </div>
    </div>

</div>

@code {

}
