<style>
    svg image {
        fill: white;
    }
</style>


<div style="background-color:var(--main-color)">
<div class="container">

<div class="sub-hero">
   
    <div class="sub-hero-card">
        <div>
                    <i class="bi bi-speedometer2"></i>
        </div>
        <div>
            <p> 300 كم مجاني </p>
        </div>
    </div>
    <div class="sub-hero-card">
        <div>
                    <i class="bi bi-coin"></i>
        </div>
        <div>
            <p> بدون حجز مسبق </p>
        </div>
    </div>
    <div class="sub-hero-card">
        <div>
                    <i class="bi bi-tags"></i>
        </div>
        <div>
            <p> أسعار منافسة </p>
        </div>
    </div>

</div>
</div>
</div>
@code {

}
