
<button style="width:104px;height:2rem; background-color: var(--main-color); border:none; border-radius:44px; color:whitesmoke;  ">
    @text
</button>
@code {
    [Parameter]
    public string text { get; set; }
}
